.partners-top {
  margin-top: 157px;
}
@media (max-width: 1440px) {
  .partners-top {
    margin-top: 130px;
  }
}
@media (max-width: 1000px) {
  .partners-top {
    margin-top: 85px;
  }
}
@media (max-width: 756px) {
  .partners-top {
    margin-top: 125px;
  }
}
.partners-top__title {
  font-family: 'Monument Extended', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1440px) {
  .partners-top__title {
    font-size: 42px;
  }
}
@media (max-width: 1000px) {
  .partners-top__title {
    font-size: 32px;
  }
}
@media (max-width: 756px) {
  .partners-top__title {
    font-size: 24px;
  }
}
.partners-top__content {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}
@media (max-width: 756px) {
  .partners-top__content picture {
    text-align: center;
  }
}
.partners-top__content img {
  margin: 0 32px;
  transition: transform 0.3s ease-in-out;
}
.partners-top__content img:hover {
  transform: scale(1.1);
}
@media (max-width: 1000px) {
  .partners-top__content img {
    width: 70%;
  }
}
@media (max-width: 756px) {
  .partners-top__content img {
    margin: 0;
  }
}
.events {
  margin-top: 175px;
  position: relative;
}
@media (max-width: 1000px) {
  .events {
    margin-top: 100px;
  }
}
@media (max-width: 756px) {
  .events {
    margin-top: 115px;
  }
}
.events__texture {
  display: none;
}
@media (max-width: 756px) {
  .events__texture {
    display: block;
    position: absolute;
    right: -24px;
    top: -71px;
  }
}
@media (min-width: 756px) {
  .events__left-gradient {
    position: absolute;
    background: rgba(252,253,74,0.25);
    opacity: 0.5;
    width: 565px;
    height: 610px;
    left: -331px;
    top: 0;
  }
}
@media (min-width: 756px) {
  .events__line-one {
    background: #322542;
    position: absolute;
    top: 130px;
    height: 1px;
    left: 0;
    right: 0;
  }
  .events__line-one:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    width: 20vh;
    height: 100%;
    top: 0;
    will-change: right;
    right: -20%;
    animation: run 15s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    background: linear-gradient(225deg, #3b1aa7 0%, #4e31b3 30.49%, #9636ef 64.35%, #f682bd 100%);
  }
}
@media (min-width: 756px) {
  .events__line-two {
    background: #322542;
    position: absolute;
    top: 320px;
    height: 1px;
    left: 0;
    right: 0;
  }
  .events__line-two:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    width: 20vh;
    height: 100%;
    top: 0;
    will-change: right;
    right: -20%;
    animation: run 18s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    background: linear-gradient(225deg, #3b1aa7 0%, #4e31b3 30.49%, #9636ef 64.35%, #f682bd 100%);
  }
}
@media (min-width: 756px) {
  .events__line-three {
    background: #322542;
    position: absolute;
    top: 485px;
    height: 1px;
    left: 0;
    right: 0;
  }
  .events__line-three:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    width: 20vh;
    height: 100%;
    will-change: right;
    top: 0;
    right: -20%;
    animation: run 12s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    background: linear-gradient(225deg, #3b1aa7 0%, #4e31b3 30.49%, #9636ef 64.35%, #f682bd 100%);
  }
}
.events__title {
  font-family: 'Monument Extended', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1000px) {
  .events__title {
    font-size: 32px;
  }
}
@media (max-width: 756px) {
  .events__title {
    font-size: 24px;
    text-align: left;
  }
}
.events__slide {
  margin-top: 25px;
}
@media (max-width: 440px) {
  .events .swiper-slide {
    height: 260px;
  }
}
.events .swiper-slide.no-active {
  filter: grayscale(1);
}
@media (min-width: 440px) {
  .events .swiper-slide.active {
    width: 400px !important;
  }
}
.events .swiper-slide.active .events__photo {
  height: 210px !important;
}
.events__line {
  position: absolute;
  left: 0;
  background: #322542;
  height: 1px;
  top: 109px;
  right: 0;
}
@media (max-width: 1000px) {
  .events__line {
    top: 89px;
  }
}
@media (max-width: 756px) {
  .events__line {
    top: 81px;
  }
}
.events__line-active {
  position: absolute;
  top: 28px;
  left: 100px;
  height: 2px;
  background: linear-gradient(270deg, rgba(121,255,199,0) 0.85%, #79ffc7 8.55%, #a6ff4d 20.74%, #30ff8f 84.05%, rgba(48,255,143,0) 102.55%);
}
.events__item {
  position: relative;
}
.events__item:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 25px;
  width: 8px;
  height: 8px;
  background: #e7e7e7;
  border-radius: 50%;
}
.events__date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: rgba(231,231,231,0.8);
  font-size: 16px;
  text-align: center;
}
.events__photo {
  border: 1px solid rgba(50,37,66,0.5);
  border-radius: 20px;
  margin-top: 60px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 756px) {
  .events__photo {
    margin-top: 35px;
  }
}
.events__photo:before {
  content: "";
  background: linear-gradient(180deg, #11141d 0%, rgba(17,20,29,0.35) 100%);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.events__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events__name {
  font-size: 14px;
  font-family: 'Monument Extended', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  padding: 0 10px;
  letter-spacing: 2px;
}
@media (max-width: 1165px) {
  .events__name {
    font-size: 12px;
  }
}
@media (max-width: 756px) {
  .events__name {
    font-size: 18px;
  }
}
