.roadmap-top {
  margin-top: 185px;
  position: relative;
}
@media (max-width: 1000px) {
  .roadmap-top {
    margin-top: 140px;
  }
}
.roadmap-top__right-gradient {
  position: absolute;
  background: rgba(251,102,183,0.25);
  opacity: 0.5;
  width: 780px;
  height: 610px;
  right: -231px;
  top: 100px;
}
@media (max-width: 756px) {
  .roadmap-top__right-gradient {
    opacity: 0.1;
    width: 100%;
    right: -131px;
    top: 150px;
    background: #fb66b7;
  }
}
.roadmap-top__title {
  font-family: 'Monument Extended', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1440px) {
  .roadmap-top__title {
    font-size: 42px;
  }
}
@media (max-width: 1000px) {
  .roadmap-top__title {
    font-size: 32px;
  }
}
@media (max-width: 756px) {
  .roadmap-top__title {
    font-size: 24px;
  }
}
.roadmap-top__item {
  position: relative;
}
.roadmap-top__item:hover .roadmap-top__num {
  transform: scale(1.1);
}
.roadmap-top__item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 70px;
  width: calc(100% + 100px);
  height: 2px;
  background: #322542;
}
@media (max-width: 756px) {
  .roadmap-top__item:after {
    top: 55px;
  }
}
.roadmap-top__item:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50px;
  width: 2px;
  height: 38px;
  background: #322542;
}
@media (max-width: 756px) {
  .roadmap-top__item:before {
    top: 38px;
  }
}
.roadmap-top__num {
  color: #6d33cd;
  font-family: 'Monument Extended', sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 756px) {
  .roadmap-top__num {
    background: linear-gradient(225deg, rgba(91,12,161,0.8) 0%, rgba(39,30,249,0.8) 30.49%, rgba(121,57,253,0.8) 64.35%, rgba(166,71,255,0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
@media (max-width: 1440px) {
  .roadmap-top__num {
    font-size: 36px;
  }
}
@media (max-width: 756px) {
  .roadmap-top__num {
    font-size: 26px;
  }
}
.roadmap-top__name {
  color: rgba(231,231,231,0.8);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-top: 54px;
  line-height: 1.3;
}
@media (max-width: 1440px) {
  .roadmap-top__name {
    font-size: 14px;
  }
}
.roadmap-top__line {
  background: #322542;
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  right: 0;
  height: 2px;
}
@media (max-width: 756px) {
  .roadmap-top__line {
    top: 55px;
  }
}
.roadmap-top__line-active {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  z-index: 1;
  background: linear-gradient(270deg, rgba(121,255,199,0) 0.85%, #79ffc7 8.55%, #a6ff4d 20.74%, #30ff8f 84.05%, rgba(48,255,143,0) 102.55%);
}
.roadmap__slide {
  margin-top: 55px;
}
@media (max-width: 440px) {
  .roadmap__slide .swiper-slide {
    height: 200px;
  }
}
.roadmap__slide .swiper-slide:last-child .roadmap-top__item:after {
  width: 100%;
}
.roadmap-start {
  margin-top: 200px;
  position: relative;
}
@media (max-width: 1440px) {
  .roadmap-start {
    margin-top: 160px;
  }
}
@media (max-width: 756px) {
  .roadmap-start {
    margin-top: 155px;
  }
}
@media (min-width: 756px) {
  .roadmap-start__line-one {
    height: 1px;
    background: #322542;
    position: absolute;
    top: 270px;
    left: -500px;
    right: -500px;
    z-index: -3;
    transform: rotate(329deg);
  }
  .roadmap-start__line-one:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    width: 20vh;
    background: #9636ef;
    will-change: right;
    height: 100%;
    top: 0;
    right: -20%;
    animation: run 18s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    background: linear-gradient(225deg, #3b1aa7 0%, #4e31b3 30.49%, #9636ef 64.35%, #f682bd 100%);
  }
}
@media (min-width: 756px) {
  .roadmap-start__line-two {
    height: 1px;
    background: #322542;
    position: absolute;
    top: 470px;
    left: -500px;
    right: -500px;
    z-index: -3;
    transform: rotate(329deg);
  }
  .roadmap-start__line-two:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    width: 20vh;
    height: 100%;
    background: #9636ef;
    will-change: right;
    top: 0;
    right: -20%;
    animation: run 12s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    background: linear-gradient(225deg, #3b1aa7 0%, #4e31b3 30.49%, #9636ef 64.35%, #f682bd 100%);
  }
}
@media (min-width: 756px) {
  .roadmap-start__line-three {
    height: 1px;
    background: #322542;
    position: absolute;
    top: 670px;
    left: -500px;
    right: -500px;
    z-index: -3;
    transform: rotate(329deg);
  }
  .roadmap-start__line-three:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    width: 20vh;
    height: 100%;
    background: #9636ef;
    will-change: right;
    top: 0;
    right: -20%;
    animation: run 10s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    background: linear-gradient(225deg, #3b1aa7 0%, #4e31b3 30.49%, #9636ef 64.35%, #f682bd 100%);
  }
}
.roadmap-start__title {
  font-family: 'Monument Extended', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1440px) {
  .roadmap-start__title {
    font-size: 42px;
  }
}
@media (max-width: 1000px) {
  .roadmap-start__title {
    font-size: 38px;
  }
}
@media (max-width: 756px) {
  .roadmap-start__title {
    font-size: 24px;
  }
}
.roadmap-start__desc {
  width: 65%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 25px auto 0;
}
@media (max-width: 1440px) {
  .roadmap-start__desc {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .roadmap-start__desc {
    width: 80%;
    font-size: 16px;
    margin: 18px auto 0;
  }
}
@media (max-width: 756px) {
  .roadmap-start__desc {
    width: 100%;
  }
}
.roadmap-start__content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media (max-width: 1000px) {
  .roadmap-start__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 756px) {
  .roadmap-start__content {
    margin-top: 28px;
  }
}
.roadmap-start__item {
  width: 20%;
  position: relative;
  text-align: center;
}
@media (max-width: 1000px) {
  .roadmap-start__item {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 440px) {
  .roadmap-start__item {
    width: 100%;
    margin-bottom: 45px;
  }
}
.roadmap-start__abs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.roadmap-start__num {
  font-family: 'Monument Extended', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 230px;
  color: rgba(0,0,0,0);
  line-height: 1;
  -webkit-text-stroke: 2px rgba(150,54,239,0.3);
}
@media (max-width: 1440px) {
  .roadmap-start__num {
    font-size: 160px;
  }
}
@media (max-width: 756px) {
  .roadmap-start__num {
    font-size: 165px;
  }
}
.roadmap-start__icon {
  background: linear-gradient(225deg, rgba(91,12,161,0.5) 0%, rgba(39,30,249,0.5) 30.49%, rgba(121,57,253,0.5) 64.35%, rgba(166,71,255,0.5) 100%);
  border: 1px solid rgba(50,37,66,0.5);
  border-radius: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 756px) {
  .roadmap-start__icon {
    width: 34px;
    height: 34px;
  }
}
.roadmap-start__icon img {
  display: block;
}
@media (max-width: 756px) {
  .roadmap-start__icon img {
    width: 20px;
  }
}
.roadmap-start__name {
  margin-top: 14px;
  font-family: 'Monument Extended', sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(225deg, #3b1aa7 0%, #4e31b3 30.49%, #9636ef 64.35%, #f682bd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 1;
}
@media (max-width: 1440px) {
  .roadmap-start__name {
    font-size: 13px;
  }
}
