.breadcrumbs
  position relative
  margin-top: -14px
  a
    font-size 13px
    text-decoration: none
    color color-main
    transition color 0.2s ease-in-out
    &:hover
      color color-blue
      svg
        stroke color-blue
    svg
      width: 13px
      height: 13px
      stroke color-main
      position: relative
      top: 2px
      margin-right: 4px
      transition stroke 0.2s ease-in-out