.comment-product
  display: flex
  border: 1px solid #e8e8e8
  padding: 20px 10px
  &__photo
    width: 185px
    img
      width 100%
  &__info
    width calc(100% - 190px)
    display: flex
    flex-direction: column
    justify-content: center
    padding-left 20px
  &__title
    font-size: 18px
    line-height: 1.4
  &__link
    margin-top: 20px
    a
      font-size: 14px
      text-decoration: underline
      color #4b4b5a
      &:hover
        text-decoration none

.comment-mark
  margin-bottom: 10px
  span
    font-size: 22px
    font-weight: 500

.comment-rating
  margin-bottom: 35px
  span
    font-size: 22px
    font-weight: 500