pre.alert.alert-info
  position: relative
  z-index: 9991
  background #ffffff
  overflow-y: scroll
  width: 100%
  height: 400px

@font-face {
  font-family: 'Roboto';
  src: url('/resource/administrator-cms/fonts/Roboto-Medium.eot');
  src: url('/resource/administrator-cms/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
          url('/resource/administrator-cms/fonts/Roboto-Medium.woff2') format('woff2'),
          url('/resource/administrator-cms/fonts/Roboto-Medium.woff') format('woff'),
          url('/resource/administrator-cms/fonts/Roboto-Medium.ttf') format('truetype'),
          url('/resource/administrator-cms/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/resource/administrator-cms/fonts/Roboto-Bold.eot');
  src: url('/resource/administrator-cms/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
          url('/resource/administrator-cms/fonts/Roboto-Bold.woff2') format('woff2'),
          url('/resource/administrator-cms/fonts/Roboto-Bold.woff') format('woff'),
          url('/resource/administrator-cms/fonts/Roboto-Bold.ttf') format('truetype'),
          url('/resource/administrator-cms/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/resource/administrator-cms/fonts/Roboto-Regular.eot');
  src: url('/resource/administrator-cms/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
          url('/resource/administrator-cms/fonts/Roboto-Regular.woff2') format('woff2'),
          url('/resource/administrator-cms/fonts/Roboto-Regular.woff') format('woff'),
          url('/resource/administrator-cms/fonts/Roboto-Regular.ttf') format('truetype'),
          url('/resource/administrator-cms/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*
  box-sizing border-box

html
body
  height 100%

body
  position: relative
  height: 100%
  margin 0
  min-width: 1390px
  overflow auto
  font-size 16px
  color: color-main
  overflow-x: hidden
  font-family: 'Roboto',sans-serif
  font-weight: 400
  overflow-y auto
  scroll-behavior smooth
  background-color color-gray
  &.active-modal
    overflow: hidden
  p
    margin-bottom: 19px
    margin-top: 0
    line-height: 1.4
  a
    font-family: 'Roboto',sans-serif

.container-fluid
  width 100%
  padding-left 22px
  padding-right 22px
  height: 100%

.d-flex
  display: flex

.justify-content-space-between
  justify-content: space-between

.align-items-center
  align-items center

.scroll-custom::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 4px rgba(181, 181, 181, 0.6)
  background-color: white

.scroll-custom::-webkit-scrollbar
  width: 4px
  background-color: white

.scroll-custom::-webkit-scrollbar-thumb
  background-color: #c5c5c5

.centered
  text-align center

.disable
  opacity 0.4
  &:hover
    background-color unset !important
  a
    cursor unset

.debug_message
  border:solid 1px #DEDEDE
  background:#EFEFEF
  color:#222222
  padding:4px
  z-index 999
  position relative

.main
  margin-left: 275px
  overflow: hidden
  padding: 100px 22px 11px 22px
  min-height: 90vh
  &__top
    width calc(100% - 400px)
    margin-bottom: 30px
    min-height 36px
  &__title
    font-size 20px
    line-height 1.4
    color color-main
    font-weight: 500
    letter-spacing 1px
  &__content
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-bottom: 10px
  &__left
    width: 75%
  &__right
    width 25%
    padding-left 22px
  &__tools
    margin-right 30px
    margin-top: 15px
    position relative
    &-no-save
      margin-right -130px
    &-no-save-del-choice
      margin-right -210px
    &-no-save-del
      margin-right: -400px
      &:before
        display none
    &:before
      content: ""
      position: absolute
      right: -22px
      height: 34px
      background: #dadada
      width: 2px
.h-315
  height: 315px
  overflow: auto
  position relative
  padding-left: 3px

.h-200
  height: 200px
  overflow-y: auto
  padding-left: 3px

.tools-right
  margin-right unset
  &:before
    display none

.main-section
  padding: 1.25rem 1.25rem 2.5rem 1.25rem
  box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,.075)
  border-radius: 0.25rem
  background: #fff
  width 100%
  &__top
    min-height: 36px
    margin-bottom: 10px
  &__title
    color: #4b4b5a
    font-weight: 500
    font-size: 18px
    margin-bottom: 26px
    margin-top: 10px
  &__btn
    background-color: rgba(37,194,227,0.2)
    cursor: pointer
    color: #4b4b5a
    border-radius: 4px
    width: 148px
    height: 35px
    display: flex
    align-items: center
    position: relative
    margin-left: 20px
    border: unset
    justify-content: center
    line-height: 1
    padding-top: 4px
    transition: background-color 0.15s ease-in-out
    &:hover
      background-color: rgba(47,173,199,0.3)


.main-section-top
  form
    display: flex
    flex-wrap wrap
    justify-content: space-between
  &__form
    display flex
    align-items: center
    margin-bottom: 14px
    span
      margin 0 12px
  &__form-input
    display flex
    align-items: center
  &__btn
    display: flex
    align-items: center
    margin-bottom: 14px

.h-65
  height 65px

.h-100
  height: 100px

.w-120
  width 120px

.w-300
  width 300px

.m-b-6
  margin-bottom: 6px

.w-100
  width 100%

.mt-20
  margin-top 20px

.mt--10
  margin-top -10px

.h-3
  height: calc(20px*3)
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical

.button-list
  position: absolute
  top: 101px
  right: 14px
  display: flex

.button-list-in
  margin: 14px 4px 0 4px
  display: flex
  width 100%

.tool-link
  font-size: 15px
  text-decoration: none
  color color-main
  transition color 0.2s ease-in-out
  &:hover
    color color-blue

.photo-list
  width: 70px
  height: 70px
  object-fit: contain

.top-section
  padding: 1.25rem 1.25rem 2.5rem 1.25rem
  background: #fff
  margin-bottom: 22px
  box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,0.075)
  border-radius: 0.25rem
  width: 100%
  &__top
    color: color-main
    font-weight: 500
    font-size: 19px
    position relative
    margin-bottom: 36px
    &:before
      content ""
      position absolute
      background #f6f6f7
      height 1px
      left: -20px
      right: -20px
      bottom: -18px
  &__content
    display: flex
  &__left
    width: 33%
  &__middle
    width 33%

.product-count,
.catalog-count
  display: flex
  align-items: center
  &__icon
    width: 48px
    height: 48px
    svg
      stroke color-main
      width: 48px
      height: 48px
  &__info
    padding-left: 15px
  &__count
    font-size: 25px
  &__desc
    color: #6c757d
    font-size: 13px
    margin-top: 6px

.title-h3
  font-size: 19px
  font-weight: 500
  margin-bottom: 16px

.new-status
  background: rgba(67,211,158,.15)

.hidden
  opacity: 0
  visibility: hidden
  position: absolute
  display none

.no-comment
  text-align: center
  font-size: 18px
  margin: 80px 0 50px

.info-faq
  margin: 15px 0 30px
  &__title
    font-size: 18px
    font-weight: 500
    margin-bottom: 16px
  &__item
    margin-bottom: 5px
    font-size: 14px

.faq-meta
  display: flex
  justify-content: space-between
  border-bottom: 1px solid #b7b7b7
  margin-bottom: 15px
  &__left
    width 60%
  &__right
    width 40%
    padding-left: 50px
    padding-top: 25px

p.important
  font-size: 18px
  color: #f00

code
  color: #c7c6c6

.overflow-x
  width: 100%
  overflow-x: auto

.body-loader
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 991
  background: #fff
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  opacity 0
  visibility hidden
  &.active
    opacity 1
    visibility visible
  &__text
    width: 600px
    text-align: center
    font-size: 17px
    line-height: 1.4

.loader
  border: 16px solid #ffd1d1
  border-top: 16px solid #5369f8
  border-radius: 50%
  width: 120px
  height: 120px
  animation: spin 2s linear infinite
  margin: 0 auto 60px

.header-info-content
  &__info
    border-bottom: 1px dashed #000
    padding-bottom: 10px
    margin-bottom: 20px
  &__bottom
    display: flex
    justify-content: space-between
    align-items: center

.btn-save.save-info
  margin-left: 0

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

