.export-section
  width: 33%
  padding: 1.25rem 1.25rem 1.25rem 1.25rem
  background: #fff
  box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,0.075)
  border-radius: 0.25rem
  margin-right 22px
  a
    text-decoration none
  &__icon
    text-align: center
    svg
      stroke color-main
      height: 90px
      width: 90px
  &__text
    text-transform: uppercase
    text-align: center
    font-weight: 800
    text-decoration: none
    color: color-main
    font-size: 34px
    margin-top: 5px
  &__title
    margin-top: 30px
    font-size: 18px
    color: color-main
    position relative
    &:before
      content ""
      position absolute
      background: #f6f6f7
      height: 1px
      left: -20px
      right: -20px
      top: -15px


.import-section
  width: 33%
  padding: 1.25rem 1.25rem 1.25rem 1.25rem
  background: #fff
  box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,0.075)
  border-radius: 0.25rem
  a
    text-decoration none
  &__icon
    text-align: center
    svg
      stroke color-main
      height: 90px
      width: 90px
  &__text
    text-transform: uppercase
    text-align: center
    font-weight: 800
    text-decoration: none
    color: color-main
    font-size: 34px
    margin-top: 5px
  &__title
    margin-top: 30px
    font-size: 18px
    color: color-main
    position relative
    &:before
      content ""
      position absolute
      background: #f6f6f7
      height: 1px
      left: -20px
      right: -20px
      top: -15px