.modal-error
  position: fixed
  z-index: 9999
  background: #fff
  width: 400px
  top: 40px
  left: 50%
  margin-left: -200px
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1)
  &__header
    border-bottom: 1px solid rgba(0,0,0,.05)
    padding: 5px 8px
    position relative
  &__left
    display: flex
    align-items center
    svg
      width: 20px
      height: 20px
      stroke: #ff5c75
    span
      text-transform: uppercase
      letter-spacing: 0.3px
      line-height: 1
      padding-left: 4px
      color #ff5c75
      position: relative
      top: 1px
  &__close
    position: absolute
    right: 10px
    top: 3px
    font-size: 24px
    line-height: 1
    cursor pointer
    span
      color: #6c757d
      &:hover
        color: #4b4b5a
  &__content
    padding: 18px 10px 12px
    font-size: 15px

.modal-alert
  position: fixed
  z-index: 9999
  background: #fff
  width: 400px
  top: 40px
  left: 50%
  margin-left: -200px
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1)
  &__header
    border-bottom: 1px solid rgba(0,0,0,.05)
    padding: 5px 8px
    position relative
  &__left
    display: flex
    align-items center
    svg
      width: 20px
      height: 20px
      stroke: #2ea076
    span
      text-transform: uppercase
      letter-spacing: 0.3px
      line-height: 1
      padding-left: 4px
      color #2ea076
      font-size 14px
      position: relative
      top: 1px
  &__close
    position: absolute
    right: 10px
    top: 3px
    font-size: 24px
    line-height: 1
    cursor pointer
    span
      color: #6c757d
      &:hover
        color: #4b4b5a
  &__content
    padding: 18px 10px 12px
    font-size: 15px

.modal
  padding: 20px 30px 50px
  position: fixed
  opacity: 0
  visibility: hidden
  z-index: 992
  background: #fff
  top: 35px
  left: 50%
  transform: translate(-50%,0)
  width: 1100px
  box-shadow: 0 0 9px 0 #ececec
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out
  max-height: 90vh
  overflow: auto
  &.active
    opacity: 1
    visibility: visible
  &__title
    font-size: 20px
  &__desс
    border-top: 1px solid #000
    padding-top: 16px
    margin-top: 16px
  &__content
    margin-top: 40px

.overflow
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  z-index: 991
  opacity: 0
  visibility: hidden
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out
  &.active
    opacity: 1
    visibility: visible

.modal-close
  position: absolute
  right: 25px
  top: 13px
  cursor pointer
  svg
    width: 30px
    height: 30px
    fill: #000
    stroke: #000

.modal-instruction
  padding: 20px 30px 50px