.paging
  padding: 0
  margin: 0
  list-style-type: none
  display: flex
  justify-content: flex-end
  margin-top: 10px
  &__link
    background-color: color-blue
    border-color: color-blue
    width: 35px
    height: 35px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    font-weight: 500
    color #ffffff
  &__item
    margin 0 3px
    a
      color: color-blue
      padding: .5rem .75rem
      text-decoration: none
      background-color: #fff
      border-radius: 50%
      font-weight: 500
      &:hover
        background #f6f6f7

