max-large = 1620px
large = 1440px
middle = 1165px
small = 1000px
xs = 765px
xss = 440px



//@media (max-width: max-large)
//@media (max-width: large)
//@media (max-width: middle)
//@media (max-width: small)
//@media (max-width: xs)
//@media (max-width: xss)
