.title-text
  padding: 0 0 80px
  @media (max-width: 855px)
    padding 0 0 50px
  &__title
    text-align center
    h1
      font-family: 'Monument Extended', sans-serif
      font-style: normal
      font-weight: 400
      font-size: 48px
      text-transform: uppercase
      text-align: center
      @media (max-width: 1000px)
        font-size: 32px
      @media (max-width: 756px)
        font-size 24px
  &__text
    h2
      font-family: 'Monument Extended', sans-serif
      font-style: normal
      font-weight: 400
      font-size: 30px
      text-transform: uppercase
      @media (max-width: 1000px)
        font-size: 30px
      @media (max-width: 756px)
        font-size 22px
    p
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #cecece;
      line-height: 1.7
      margin-bottom: 30px
      text-align: justify

